
Flask
flask-mysqldb
mysql-connector-python
gunicorn

git add requirements.txt
git commit -m "Agregar gunicorn para Render"
git push origin main

pip install gunicorn

pip freeze > requirements.txt



