<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Acerca de</title>
  <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
  <h1>Acerca de</h1>
</header>

<nav>
  <a href="/">Inicio</a>
  <a href="/tareas">Tareas</a>
  <a href="/acerca">Acerca de</a>
    <a href="/estadisticas">Estadísticas</a>

</nav>

<div class="container">
  <p>Esta aplicación fue creada Por Jancarlos Todos los Derechos estan reservados.</p>
  <p>Permite agregar tareas y marcarlas como completadas.</p>
</div>
</body>
</html>
