<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
  <h1>INICIO</h1>
</header>


<nav>
  <a href="/">Inicio</a>
  <a href="/tareas">Tareas</a>
  <a href="/acerca">Acerca de</a>
    <a href="/estadisticas">Estadísticas</a>

</nav>

<div class="container">
  <h2>Bienvenido</h2>
  <p>Esta es una Pagina sencilla para gestionar tus tareas, Agregarlas Marcarlas y tacharlas.</p>
</div>
<header>
  <img src="https://cdn.pixabay.com/photo/2020/01/30/17/49/book-4806076_640.jpg"  alt="Imagen de cabecera" style="width: 50%; height: auto;">
  
</header>

</body>
</html>
