<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de Tareas</title>
  <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
  <h1>Lista de Tareas</h1>
</header>

<nav>
  <a href="/">Inicio</a>
  <a href="/tareas">Tareas</a>
  <a href="/acerca">Acerca de</a>
    <a href="/estadisticas">Estadísticas</a>

</nav>

<div class="container">
  <form method="POST">
    <input type="text" name="descripcion" placeholder="Nueva tarea" required>
    <button>Agregar</button>
  </form>

  {% for tarea in tareas %}
    <div class="card">
      <span class="{% if tarea[2] %}tarea-completada{% endif %}">{{ tarea[1] }}</span>
      {% if not tarea[2] %}
        <a href="/completar/{{ tarea[0] }}"><button>Completar</button></a>
      {% else %}
        <span>Completada</span>
      {% endif %}
    </div>
  {% endfor %}
</div>
</body>
</html>
